{% load static %}
<div class="row">
    
{% for i in page_obj_works_list %}
    <div class="col-md-6 fade-in">
        <div class="project" style="background-image: url({% static 'images/img-1.jpg' %});">
            <div class="desc">
                <div class="con">
                    <h3><a href="work.html">{{i.title}}</a></h3>
                    <span>Website</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}</div>

{% if page_obj_works_list.has_next %}
<div id="load-more" class="row">
    <div class="col-md-12">
        <p><button class="btn btn-primary btn-lg btn-load-more"
            hx-get="{% url 'works-list' category %}?page={{page_obj_works_list.next_page_number}}"
            ht-target="#load-more"
            hx-swap="outerHTML">Load more <i class="icon-reload"></i></button></p>
    </div>
</div>
{% endif %}